<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade Plan Email</title>
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" style="max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px;    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); padding-top: 20px; ">
        <tr>
            <td align="center" style="padding: 5px 0;">
                <img src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Techserve%404x.png" alt="Wish Geeks TechServe" style="max-width: 250px;">
            </td>
        </tr>

        <tr>
            <td align="center" style="background-color: rgba(51, 141, 251, 1); padding: 20px;">
                <div style="color: #ffffff; text-align: center;">
                    <img src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/thank-you.png" alt="Sign Up" style="width: 32px; height: 32px; margin-bottom: 10px; display: block; margin-left: auto; margin-right: auto;" />
                    <p style="font-size: 18px; font-weight: bold; font-family: inter, sans-serif; margin: 0;">
                        Thank You For  Purchasing our
                        Plan
                    </p>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding: 20px; text-align: left; font-size: 14px; font-family: inter, sans-serif;">
                <p>Dear <b>{{username}}</b>,</p>
                <p>Thank you for purchasing the <strong>{{plan_name}}</strong> ! 🎊 You’re now part of an exclusive community with access to amazing benefits.</p>
            </td>
        </tr>
    

     


        <tr>
            <td style="padding: 20px;">
                <table width="100%" cellspacing="0" cellpadding="10" style="background: rgba(51, 141, 251, 0.14); text-align: center; font-size: 14px; width: 100%; border-collapse: collapse; font-family: inter, sans-serif; border-radius: 10px;">
                    
                    <tr>
                        <td colspan="2">
                            <b>Your Plan Details</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-right: 10px;"><b>Plan Name</b></td>
                        <td style="text-align: center;"><span style="color: #007bff;">{{plan_name}}</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; "><b>Email limit</b></td>
                        <td style="text-align: center; "><span style="color: #007bff;">{{email_limit}}</span></td>
                    </tr>
                    <tr>
                      <td style="text-align: center; "><b>Device limit</b></td>
                      <td style="text-align: center; "><span style="color: #007bff;">{{device_limit}}</span></td>
                  </tr>
                    <tr>
                        <td style="text-align: center; padding-right: 10px;"><b>Duration</b></td>
                        <td style="text-align: center;"><span style="color: #007bff;">{{duration_days}}</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-right: 10px;"><b>Active Date</b></td>
                        <td style="text-align: center;"><span style="color: #007bff;">{{plan_start_date}}</span></td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding-right: 10px;"><b>Expiry Date</b></td>
                        <td style="text-align: center;"><span style="color: #007bff;">{{plan_expiration_date}}</span></td>
                    </tr>
                </table>
            </td>
        </tr>
        

        <tr>
            <td style="padding: 20px; font-family: inter, sans-serif; font-size: 14px;">
                <b>What's benefits ?</b>
                <p style="margin-top: 10px; margin-bottom: 10px;">✅ Enjoy Exclusive Discounts & Perks</p>
                <p style="margin-top: 10px; margin-bottom: 10px;">✅ Access Premium Content & Features</p>
            </td>
        </tr>
        

        <tr>
            <td align="center" style="padding: 20px;">
                <a href="#" style="background-color: rgba(51, 141, 251, 1); color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-size: 16px; font-family: inter, sans-serif;">Access Your Plan</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="background: rgba(51, 141, 251, 1); padding: 20px;">
                <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                      <td>
                        <a
                          href="https://www.instagram.com/wishgeeks/"
                          style="text-decoration: none"
                        >
                          <div
                            style="width: 50px; height: 50px;  display: flex; justify-content: center; align-items: center; "
                          >
                            <img
                              src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1300.png"
                              alt="Instagram"
                              style="width: 80%; height: 80%; object-fit: contain"
                            />
                          </div>
                        </a>
                      </td>
                      <td>
                        <a
                          href="https://www.linkedin.com/company/wish-geeks/"
                          style="text-decoration: none"
                        >
                          <div
                            style="width: 70px; height: 60px;  display: flex; justify-content: center; align-items: center; "
                          >
                            <img
                              src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1302.png"
                              alt="LinkedIn"
                              style="width: 80%; height: 80%; object-fit: contain"
                            />
                          </div>
                        </a>
                      </td>
                      <td>
                        <a
                          href="https://www.facebook.com/wishgeeks"
                          style="text-decoration: none"
                        >
                          <div
                            style="width: 50px; height: 50px;  display: flex; justify-content: center; align-items: center;"
                          >
                            <img
                              src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1301.png"
                              alt="Facebook"
                              style="width: 80%; height: 80%; object-fit: contain"
                            />
                          </div>
                        </a>
                      </td>
                     
                    </tr>
                  </table>
                <p style="color: #FFFFFF; font-size: 14px; margin: 12px 0;">
                    <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Privacy Policy</a> |
                    <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Contact Us</a> |
                    <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Unsubscribe</a>
                </p>
            </td>
        </tr>

    </table>
</body>
</html>
