<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
   
      body,
      table,
      td,
      a {
        margin: 0;
        padding: 0;
        text-size-adjust: 100%;
      }
      table {
        border-spacing: 0;
      }
      img {
        border: 0;
        height: auto;
        line-height: 100%;
        text-decoration: none;
        display: block;
      }

      /* Responsive Design */
      @media screen and (max-width: 600px) {
        .email-container {
          width: 100% !important;
        }
        .email-header,
        .email-footer {
          padding: 15px !important;
        }
      }

      /* Fallback font */
      * {
        font-family: inter, sans-serif;
      }

      /* Additional Styles */
      .otp-container td {
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border: 2px solid #3b82f6;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body

  >
    <table
      role="presentation"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="background-color: #f3f4f6"
    >
      <tr>
        <td align="center" style="padding: 20px 0">
          <table
            role="presentation"
            width="600"
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="
              background-color: #ffffff;
              border-radius: 10px;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            "
            class="email-container"
          >
         <!-- Logo Section -->
<tr style="margin-bottom: 20px;">
  <td align="center" style="padding-top: 20px; padding-left: 10px; margin-top: 10px">
    <img
      src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Techserve%404x.png"
      alt="Wish Geeks Logo"
      style="max-width: 250px; margin-bottom: 10px;"
    />
  </td>
</tr>

<!-- Header Section -->
<tr>
  <td align="center" style="background-color: #ffffff;">
    <div
      style="
        background: rgba(51, 141, 251, 1);
        color: #ffffff;
        padding: 15px;
      "
    >
      <img
        src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/thank-you.png"
        alt="Sign Up"
        style="width: 32px; height: 32px; margin-bottom: 10px"
      />
      <p style="font-size: 24px; font-weight: bold; margin: 0; font-family: inter, sans-serif;">
        Thank You For The Upgrade Your
        Plan
      </p>
    </div>
  </td>
</tr>

            <tr>
              <td
                style="
                  padding: 20px;
                  font-family: inter, sans-serif;
                  font-size: 16px;
                  color: #333;
                "
              >
                <p><strong>Dear {{username}},</strong></p>
                <p style="    font-family: inter, sans-serif; text-align: justify;">
                    Great news! Your Plan has been successfully upgraded to <strong>{{plan_name}}</strong>. 🎊 Get ready to enjoy even more exclusive perks and benefits!
                </p>

                <table width="100%" style="background: rgba(51, 141, 251, 0.14); padding: 20px; border-spacing: 5px; font-size: 14px; font-family: inter, sans-serif; border-radius: 10px;">
                    <tr align="center" style="padding-bottom: 20px;">
                        <td colspan="2">
                            <b>Your Upgraded Plan Details:</b>
                            <br>
                        </td>
                    </tr>
                
                    <tr>
                        <td style="text-align: center; padding-top: 20px; padding-bottom: 5px;"><b>Plan Name</b></td>
                        <td style="text-align: center; padding-top: 20px;  padding-bottom: 0px; "><span style="color: #007bff;">{{plan_name}}</span></td>
                    </tr>
                    
                    <tr>
                        <td style="text-align: center; "><b>Email limit</b></td>
                        <td style="text-align: center; "><span style="color: #007bff;">{{email_limit}}</span></td>
                    </tr>
                    <tr>
                      <td style="text-align: center; "><b>Device limit</b></td>
                      <td style="text-align: center; "><span style="color: #007bff;">{{device_limit}}</span></td>
                  </tr>
                  <tr>
                    <td style="text-align: center; "><b>Duration</b></td>
                    <td style="text-align: center; "><span style="color: #007bff;">{{duration_days}}</span></td>
                </tr>
                    
                    <tr>
                        <td style="text-align: center; padding-top: 5px; padding-bottom: 5px;"><b>Active Date</b></td>
                        <td style="text-align: center; padding-bottom: 5px;"><span style="color: #007bff;">{{plan_start_date}}</span></td>
                    </tr>
                
                    <tr>
                        <td style="text-align: center; padding-top: 0px; padding-bottom: 0px;"><b>Expiry Date</b></td>
                        <td style="text-align: center; padding-bottom: 0px;"><span style="color: #007bff;">{{plan_expiration_date}}</span></td>
                    </tr>

                  
                </table>
                
                <tr>
                    <td style="padding: 20px; font-family: inter, sans-serif; font-size: 14px;">
                        <b>What's Next?</b>
                        <p style="margin-top: 10px; margin-bottom: 10px;">✅ Enjoy Exclusive Discounts & Perks</p>
                        <p style="margin-top: 10px; margin-bottom: 10px;">✅ Access Premium Content & Features</p>
                    </td>
                </tr>
                
        
              </td>
            </tr>
            <tr>
                <td align="center" style="padding: 20px;">
                    <a href="#" style="background-color: rgba(51, 141, 251, 1); color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 5px; font-size: 16px; font-family: inter, sans-serif;">Access Your Plan</a>
                </td>
            </tr>
    
            <tr>
              <td align="center" style="background: rgba(51, 141, 251, 1); padding: 20px;">
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                      <tr>
                        <td>
                          <a
                            href="https://www.instagram.com/wishgeeks/"
                            style="text-decoration: none"
                          >
                            <div
                              style="width: 50px; height: 50px;  display: flex; justify-content: center; align-items: center; "
                            >
                              <img
                                src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1300.png"
                                alt="Instagram"
                                style="width: 80%; height: 80%; object-fit: contain"
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          <a
                            href="https://www.linkedin.com/company/wish-geeks/"
                            style="text-decoration: none"
                          >
                            <div
                              style="width: 70px; height: 60px;  display: flex; justify-content: center; align-items: center; "
                            >
                              <img
                                src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1302.png"
                                alt="LinkedIn"
                                style="width: 80%; height: 80%; object-fit: contain"
                              />
                            </div>
                          </a>
                        </td>
                        <td>
                          <a
                            href="https://www.facebook.com/wishgeeks"
                            style="text-decoration: none"
                          >
                            <div
                              style="width: 50px; height: 50px;  display: flex; justify-content: center; align-items: center;"
                            >
                              <img
                                src="https://emailbulkshoot.s3.ap-southeast-2.amazonaws.com/assests+for+Email+Automation/Frame+1301.png"
                                alt="Facebook"
                                style="width: 80%; height: 80%; object-fit: contain"
                              />
                            </div>
                          </a>
                        </td>
                       
                      </tr>
                    </table>
                  <p style="color: #FFFFFF; font-size: 14px; margin: 12px 0;">
                      <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Privacy Policy</a> |
                      <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Contact Us</a> |
                      <a href="#" style="color: #FFFFFF; text-decoration: none; margin: 0 10px;">Unsubscribe</a>
                  </p>
              </td>
          </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
