html: `
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        font-family: sans-serif;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 15px;
        text-align: left;
      }

      .section,
      .outer-card {
        display: block;
        width: 100%;
      }

      .exp {
        color: #626161;
        font-size: 13px;
        font-weight: 600;
      }

      .middle-section {
        background-color: #338dfb;
        color: white;
        border-radius: 8px;
        text-align: center;
        font-size: 14px;
      }

      .middle-section button {
        background-color: white;
        color: #338dfb;
        border: none;
        padding: 12px;
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
      }

      @media (max-width: 1024px) {
        .middlep {
          font-size: 16px;
        }

        .btn {
          font-size: 12px;
          padding: 5px 10px;
        }
      }

      @media (max-width: 768px) {
        .middlep {
          font-size: 16px;
        }

        .btn {
          font-size: 12px;
          padding: 8px 14px;
        }
      }

      @media (max-width: 480px) {
        .he2 {
          font-size: 16px;
          text-align: center;
        }

        p,
        .exp {
          font-size: 12px;
          text-align: center;
        }
      }
    </style>
  </head>
  <body>
    <div
      style="
        border-radius: 16px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 64rem;
        margin: 2.5rem auto;
        background-color: white;
      "
    >
      <table>
        <!-- <tr>
          <td
            colspan="2"
            align="center"
            style="
              background-color: #3b82f6;
              color: #ffffff;
              padding: 25px;
              border-radius: 10px;
            "
          >
            <img
              src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/handsake.png"
              alt="Sign Up"
              style="width: 32px; height: 32px; margin-bottom: 10px"
            />
            <p style="font-size: 24px; font-weight: bold; color: #ffffff">
              Two-Factor Authentication (2FA) Status Update
            </p>
          </td>
        </tr> -->

        <tr>
          <td
            style="
              background-color: #4285f4;
              color: #ffffff;
              font-size: 24px;
              font-weight: bold;
              text-align: center;

              border-radius: 10px;

              display: block;
            "
          >
            <img
              src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/handsake.png"
              alt="Sign Up"
              style="width: 32px; height: 32px"
            />
            <p class="" style="font-size: 24px">THANKS FOR SIGNING UP!</p>
            <p class="" style="font-size: 26px">WELCOME TO WISH GEEKS</p>
          </td>
        </tr>
        <tr>
          <td
            colspan="2"
            style="
              text-align: left;
              font-size: 18px;
              color: #333333;
              padding: 20px;
              font-weight: 700;
            "
          >
            Hello
            <span style="color: #4285f4"
              >${user.firstName} ${user.lastName}</span
            >,<br /><br />
            Thank you for signing up with Wish Geeks! We’re excited to provide
            reliable, high-quality technical services tailored to your needs.
          </td>
        </tr>

        <tr>
          <td
            colspan="2"
            style="margin-left: 4%; font-weight: 600; font-size: 22px"
          >
            Here's What You Can Expect From Us:
          </td>
        </tr>

        <tr>
          <td colspan="2" align="center">
            <table
              class="outer-card"
              width="100%"
              cellspacing="0"
              cellpadding="10"
              border="0"
              align="center"
            >
              <tr>
                <td align="center">
                  <table
                    role="presentation"
                    width="100%"
                    cellspacing="0"
                    cellpadding="10"
                    border="0"
                    align="center"
                  >
                    <tr>
                      <td align="center" width="25%">
                        <img
                          src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/Frame+427319055+(2).png"
                          alt=""
                          width="50"
                          height="50"
                          border="0"
                        />
                        <p style="margin: 5px 0; font-size: 14px">
                          Expert Support
                        </p>
                      </td>
                      <td align="center" width="25%">
                        <img
                          src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/Frame+427319054+(1).png"
                          alt=""
                          width="50"
                          height="50"
                          border="0"
                        />
                        <p style="margin: 5px 0; font-size: 14px">
                          Customized Solutions
                        </p>
                      </td>
                      <td align="center" width="25%">
                        <img
                          src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/Frame+427319055+(3).png"
                          alt=""
                          width="50"
                          height="50"
                          border="0"
                        />
                        <p style="margin: 5px 0; font-size: 14px">
                          Round-the-Clock Assistance
                        </p>
                      </td>
                      <td align="center" width="25%">
                        <img
                          src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/Frame+427319053+(2).png"
                          alt=""
                          width="50"
                          height="50"
                          border="0"
                        />
                        <p style="margin: 5px 0; font-size: 14px">
                          Get Service In Mins
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- Responsive Fix for Mobile -->
        <style>
          @media only screen and (max-width: 600px) {
            .outer-card td {
              display: block;
              width: 100% !important;
              text-align: center !important;
            }
          }
        </style>

        <tr>
          <td colspan="2" class="middle-section">
            <p>Ready to get service & save up to 10% on each service?</p>
            <button
              onclick="window.location.href='https://test.wishgeeks.com/membership'"
            >
              Book now
            </button>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="font-weight: 600; margin-left: 4%">
            Services that we provide:
          </td>
        </tr>

        <tr>
          <td colspan="2">
            <table
              class="section2"
              width="100%"
              cellspacing="0"
              cellpadding="5"
              border="0"
            >
              <tr>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/computers">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section1.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/printers">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section2.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/router">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section3.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/phones">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section4.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/gps">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section5.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/anti-virus">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section6.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/cameras">
                    <img
                      src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/section7.png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
                <td align="center" class="card2">
                  <a href="https://wishgeeks.com/cameras">
                    <img
                      src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/image%2B(1).png"
                      alt=""
                      height="70"
                      width="70"
                      border="0"
                    />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div class="stat">
              <img
                src="https://wishgeeks.s3.ap-southeast-2.amazonaws.com/Frame+427319087+(1).png"
                alt=""
                srcset=""
                width="100%"
              />
            </div>
          </td>
        </tr>
        <!-- Footer Section -->
        <tr>
          <td align="center">
            <table
              role="presentation"
              cellspacing="10"
              cellpadding="0"
              border="0"
              style="width: 100%; max-width: 150px; margin: auto"
            >
              <tr class="social-icons">
                <td style="text-align: center">
                  <a
                    href="https://www.instagram.com/wishgeekstechserve?igsh=bTEzMWgzd3Q2dWg5"
                    style="text-decoration: none"
                  >
                    <div
                      style="
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/image.png"
                        alt="Instagram"
                        style="width: 50%; height: 50%; object-fit: contain"
                      />
                    </div>
                  </a>
                </td>
                <td style="text-align: center">
                  <a
                    href="https://www.linkedin.com/company/wishgeekstechserve/"
                    style="text-decoration: none"
                  >
                    <div
                      style="
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/image+(72).png"
                        alt="LinkedIn"
                        style="width: 50%; height: 50%; object-fit: contain"
                      />
                    </div>
                  </a>
                </td>
                <td style="text-align: center">
                  <a
                    href="https://www.facebook.com/wishgeekstechserve?mibextid=ZbWKwL"
                    style="text-decoration: none"
                  >
                    <div
                      style="
                        width: 50px;
                        height: 50px;
                        margin: auto;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        src="https://wishgeekstechserve.s3.ap-southeast-2.amazonaws.com/image+(73).png"
                        alt="Facebook"
                        style="width: 50%; height: 50%; object-fit: contain"
                      />
                    </div>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td
            style="
              text-align: center;
              font-size: 14px;
              color: #555555;
              line-height: 20px;
              padding: 10px;
              font-weight: 500;
            "
          >
            <p style="margin: 0">
              You have received this email as a registered user of Wish Geeks
              <br />
              You can unsubscribe from these emails here .
            </p>
            <a
              href="https://test.wishgeeks.com/unsubscribe"
              style="
                display: inline-block;
                margin-top: 10px;
                padding: 8px 20px;
                background-color: #0073e6;
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                border-radius: 4px;
              "
            >
              Unsubscribe
            </a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
